@import "form";


body{
    font-size:62.5%;
}

.wrapper {
    // border:1px solid green;
	@include wrapperDesktop;
    @include mqTablet;
}

.blogPage {
   background:url(../../images/blog-image.jpg) no-repeat;
   background-size:cover;
   background-position:center;
   height:100vh;
   margin:0 auto;
   

   .wrapper{
       @include wrapperDesktop;

        h1{
            @include hOne;
            
        }
    }
}

.mainFlex{
    display:flex;
    
}

.blogImgContain{
    width:100%;
    
    img{
        @include boxRight; 
    }

}

article{
    width:60%;
    background: white;
    color:$black;
    @include boxRight; 
    position:relative;

    .blogTextContain{
        padding:20px 50px 20px 100px;

        h3{
            font-family: $print;
            font-size:1.8rem;
            line-height:1.2rem;
            font-style: italic;
            letter-spacing:1.2px;
        }

        p{
            font-size:1.8rem;
            line-height:3rem;
        }
    }
}

aside{
    background:$yellow;
    width:30%;
    height:100%;
    margin-left:20%;
    margin-top:20%;
    @include boxLeft;

    .asideText{
        padding:3%;

        h3{
            font-family:$fill;
            font-size:1.8rem;
            line-height:2.5rem;
            letter-spacing:1.2px;
            text-transform:uppercase;
        }

        p{
            @include paragraphText;
            line-height:2.5rem;
        }
    }
    
}

.recentPostsContain{

    li{
        font-size:1.8rem;
        font-family: $print;
        // list-style-type: circle;

        a{
            color:black;
        }
    }

}

.commentsContain{
    width:60%;

    .comments{
        padding-left:100px;

    }

    h3{
        font-family:$fill;
        font-size:2rem;
        text-transform:uppercase;
        line-height:2rem;
        letter-spacing: 2px;
    }

    .date{
        text-transform:uppercase;
        letter-spacing: 2px;
        font-size:1.8rem;
        margin:0;
    }
    
}

.postContain{
    display:flex;

    .commentImg{
        width:15%;
        display:block;
    }

    .commentText{
        width:70%;
        margin-left:5%;

        p{
            line-height: 2.5rem;
        }
    }

}
// .postForm{

//     margin-bottom:1000px; 

//     fieldset{
//         opacity:0;
//         border:2px solid purple;
//     }
//     .name{
//         border-bottom: 1px solid black;
//     }

// }