// @import "form";

body{
    font-size:62.5%;
}

.blogPage {
   background:url(../../images/blog-image.jpg) no-repeat;
   background-size:cover;
   background-position:center;
   height:80vh;
   margin:0 auto;
   
   
   .wrapper{
    max-width:1280px;
	width:80%;
    margin:0 auto;

        h1{
            @include hOne;
            
        }
    }
}



    

.mainFlex{
    display:flex;
    
}

    .blogForm{
        width:60%;
        position:relative;
        top:-50px;
    
    }
    .articleContain{
        // position:absolute;
        // top:-10%;
        width:100%;
        background: white;
        margin-bottom:100px;
        @include boxRight; 
    }

.blogImgContain{
    width:100%;
    
    img{
        @include boxRight; 
    }
}

article{
 
    color:$black;
    position:relative;

    .blogPostTextContain{
        padding:20px 50px 20px 100px;

        h3{
            font-family: $print;
            font-size:1.8rem;
            line-height:1.2rem;
            font-style: italic;
            letter-spacing:1.2px;
        }

        p{
            font-size:1.8rem;
            line-height:3rem;
        }
    }
}



.recentPostsContain{

    li{
        font-size:1.8rem;
        font-family: $print;

        a{
            color:black;
        }
    }
}

.commentsFormContain{
    // border:3px solid green;
    
    .comments{
        padding-left:100px;
        // border:4px solid black;
    }

    h3{
        font-family:$fill;
        font-size:2rem;
        text-transform:uppercase;
        line-height:2rem;
        letter-spacing: 2px;
    }

    .date{
        text-transform:uppercase;
        letter-spacing: 2px;
        font-size:1.8rem;
        margin:0;
    }
}

.postContain{
    display:flex;
  

    .commentImg{
        width:15%;
        display:block;
    }

    .commentText{
        width:70%;
        margin-left:5%;

        p{
            line-height: 2.5rem;
        }
    }
}

.formContainer{
    margin:50px 0px 100px 0px;
}
aside{
    background:$yellow;
    width:30%;
    height:100%;
    margin-left:20%;
    margin-top:20%;
    @include boxLeft;

    .asideText{
        padding:3%;

        h3{
            font-family:$fill;
            font-size:1.8rem;
            line-height:2.5rem;
            letter-spacing:1.2px;
            text-transform:uppercase;
        }

        p{
            @include paragraphText;
            line-height:2.5rem;
        }
    }  
}