.touch{
   width:100%;
   padding-top:20%;
}


.contactHeader {
   background:url(../../images/contact-image.jpg) no-repeat;
   background-size:cover;
   background-position:center;
   height:50vh;
   margin:0 auto;

}

.contactMain{
   display:flex;
   margin-bottom:15%;
   flex-direction: row;
   justify-content: space-between;
   // border:2px solid blue;
}

.socialContain{
   margin-top:10%;
   margin-left:10%;
   width:25%;
}

.socialNav{
  
   ul{
      display:flex;
      justify-content: space-around;
      padding:0;

      li{
         list-style: none;
         margin:5px;
   
         a{
            color:$black;
            font-size:2rem;
            padding:10px;
         }
      }
   }
}

.contactText{
   font-size:1.8;

   p{
      margin:3%;

   }
}

@media
(max-width: 940px) { 

.contactHeader{
   h1{
      font-size:4.5rem;
      
   }
}
   .contactMain{
   display:flex;
   flex-direction: column-reverse;
   }

   .contactText{
      p{
         font-size:3rem;
      }
   }
   .socialContain{
      padding:50px;
      margin:0 auto;
      text-align: center;
      width:50%;
   }

   .socialContain:focus, .socialContain:hover{
      background:$white;
   }
    .socialNav{
      ul li{
         margin:2%;
   
         a{
            color:$black;
            font-size:4rem;
            padding:10px;
         }
      } 
   }


} 

@media(max-width: 768px) { 
   .socialContain{
      padding:10px;
      width:80%;
   }
} /* ---------------- Landscape phones and down ---------------- */

@media
(max-width: 480px) {


   .socialContain{
      padding:30px;
      width:90%;
   }
   
   
 } /* ---------------- iPhone 5/SE & Other small phones ---------------- */
@media
(max-width: 320px) {

   html{
      font-size:45%;
   }
    .socialContain{
      padding:10px;
   }
 }

