.contactHeader {
   background:url(../../images/contact-image.jpg) no-repeat;
   background-size:cover;
   background-position:center;
   height:100vh;
   margin:0 auto;
   

}
main{
    display:flex;

}

.socailNav{
   display:flex;
}