.postForm{
    padding:2%;
    width:50%;
    margin-left:5%;
    margin-bottom:50px; 
    font-size: 1.8rem;
    
}

.formContain{
   width:70%;
   position:relative;

    .white{
        margin:0;
        width:100%;
        background:white;
        position:absolute;
        top:-20%;
        margin:0;
       @include boxRight;
    }  
}
    .nameEmailContain{
        display:flex;
       
        .name {
            width:calc(50% - 10px);
            margin-right:10px;
             border-bottom: 3px solid $green;
        }

        .email{
            width:50%;
             border-bottom: 3px solid $green;
        }
    }
    input{
        padding:10px 30px;
        border:none;
        background:none;
        font-family: $print;
        text-transform: uppercase;
    }

    
    .textSubmitContain{
        display:flex;
        flex-direction: column;
        
        .textBox{
            margin:40px 0px 20px 0px;
            width:100%;
            height:300px;
            border:3px solid $green;
        }
        
        
        
        label{
            opacity:0;
        }
        
    }

    .submit{
        width:100%;
        background:$green;
        color:white;
        font-family:$fill;
        letter-spacing:.2rem;
    }