body{
    font-size:62.5%;
    background-color:$ice;
} 

.wrapper{
       @include wrapperDesktop;
}

.indexHeader{
    background:url("../images/header-home.jpg")no-repeat;
    background-size:cover;
    height: 90vh;
    margin:0;
    padding-top: 0;
    position:relative;
    background-position: center;

}

.indexMainHeading{
    @include hOne;
    width:50%;
    margin:0;
    padding-top:15%;
}

.headerCouch{
    width:50%;
    position: absolute;
    bottom:-10%;

    img{
        width:100%;
    }
}

h2{
    @include fillHeading;
    font-size:2rem;
    letter-spacing:.2rem;
}

p{
    font-family: $print;
    font-size:1.6rem;
}

.greenButton{
    color:$white;
    display:inline-block;
    @include fillHeading;
    background: $green;
    font-size:1.6rem;
    line-height:3.2rem;
    letter-spacing:.2rem;
    padding:15px 30px;
    border:2px solid transparent;
    text-decoration: none;
    border-radius:2%;
}

.greenButton:hover{
    color:$green;
    background:$white;
    border:2px solid $green;
    transition:.3s;
}

.greenButton:active{
    background:$ice;
}


.discover{
    background:$white;
    @include sectionPadding;

    .discoverContainer{
        display:flex;
        flex-direction: row;
        justify-content:space-between;
    
        .discoverTextContain{
            width:calc(65% - 2%);
            margin-right:2%;
        }

        .discoverImg{
            width:30%;

            img{
                @include boxLeft;
            }
        }
    }
}

.picGallery{
    @include sectionPadding;
    background:$ice;
    
    ul{
        display:flex;
        margin:0;
        padding:0;
        
        li{
            list-style: none;
        }

        li:nth-child(2){
            margin:0px 20px 0px 20px;
        } 
    }
}


.communityGallery{
    background:$white;
    @include sectionPadding;

    .galleryFlex{
        display:flex;
        flex-wrap:wrap;

        .communityTextContain{
            width:50%;
            padding:5%;

            .iconHeadingContain{
                display:flex;
            }
        }
    }
}

.communityTextContain {
    
    i {
    color:$black;
    background:$yellow;
    border-radius:50%;
    font-size:1.6rem;
    padding:15px;
    margin-right:20px;
    border:2px solid $yellow;
    }

    h3{
        @include fillHeading;
        font-size:2rem;
        margin:0;
    }

    p{
        @include paragraphText;
        padding-left:20%;
        margin-top:5%;

    }
}


.communityTextContain:hover i{
    border:2px solid $green;
    transition:.3s
}

.communityTextContain:active i{
    background:$white;
}


.readMoreGallery{
    background:$ice;
    
    .readMoreContain{
        display:flex;
        flex-wrap:wrap;

        .readMoreText {
            width:50%;
            padding:5%;
        }

        .rightText{
            text-align:right;
        }
    }
}

    .readMoreGallery{
        
        .readMoreImg{
            width:50%;
        }

        .leftImg{
            position:relative;

            img{
                position:absolute;
                top:-10%;
                @include boxRight;
            }
        }
    }


    .readMoreGallery{

        .rightImg{
            position:relative;
            flex-wrap:wrap;

            img{
                position: absolute;
                bottom:-10%;
                @include boxLeft;
            }
        }
    }


.sofaBackground{
    background-image:url("../images/banner-image.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    height:40vh;
    
    .bottomBackImg{
        display:none;
    }
}

.searchBy{
    background:$white;
    text-align:center;
    @include sectionPadding;

}


@media
(max-width: 940px) {
    // portrait tablet small desktop
    
    .wrapper{
        max-width:850px;
        width:90%;
    }

    .indexHeader{
        height: 60vh;

        h1{
            font-size:5rem;  
        }
    }
    .communityTextContain{
        padding:5px;
    }

    .greenButton{
        line-height:3rem;
        padding:10px 20px;
    }

}


@media
(max-width: 770px) { 
    // landscape phone portrait tablet
    
    .wrapper{
        max-width:700px;
        width:90%;
    }

    .indexHeader{
        height:50vh;
    }

    .discover{

        .discoverContainer{
            flex:none;

            .discoverTextContain{
                width:100%;
                text-align:center;
                margin-right:0;
            }

            .discoverImg{
                display:none;

                img{
                    @include boxLeft;
                }
            }
        }
    }

    .picGallery{

        ul{
            flex:none;

            li{
                margin:0;
            }
        }

            li.hideImg{
            display:block;
        }
    }

    .communityGallery{

        .galleryFlex{

            .communityTextContain{
                width:80%;
                padding:5%;
                text-align:left;
                margin:5%;
                border-bottom:1px solid green;

                .iconHeadingContain{
                    width:100%;
                    display:flex;
                    align-content:center;
                    margin:0 auto;
                    padding:0;
                }
            }
        }
    }

    h3{
    font-size:1.8rem;
    }

    .readMoreGallery{

        .readMoreContain{

            .readMoreText {
                width:100%;
                padding:10%;
                text-align:center;
            }
            
            .readMoreImg{
                display:none;
            }
        }
    }

    .greenButton{
    padding:10px 25px;
    }

    .searchBy{
    padding:50px;
    }

    .sofaBackground{
    background:none;
    height:100%;
        .bottomBackImg{
            display:block;
        }
    }
}


@media
(max-width: 480px) {  
    // landscape phones and smaller

    .wrapper{
        max-width:380px;
        width:80%;
    }

    body{
        font-size:40%;
    }

    header{
        height: 40vh;

        h1{
            font-size:4rem;  
        }
    }

    .headerCouch{
        width:70%;
    }

    .greenButton{
        font-size:1.4rem;
        line-height:1.5rem;
        letter-spacing:.2rem;
        padding:14px 20px;
        border-radius:3%;
    }

    ul .singlePic{
        margin-left:5%;
    }
     .hideImg{
            display:none;
        }

}

@media (max-width: 320px) { 
// iphone5 and smaller phones
    html{
        font-size:50%;
    }

    .wrapper{
        max-width:290px;
        width:70%;
    }


    .indexMainHeading{
      padding-top:50%;
    }
    

    p{
        font-size:1.6rem;
    }
   
    .communityGallery{
    
        .galleryFlex{

            .communityTextContain{
            
                .iconHeadingContain{
                    display:flex;
                    flex-direction: column;
                }
            }
        }
    }

    .iconHeadingContain{

        a{
            margin:0 auto;
        }
    }

    .communityTextContain {
        
        i {
            margin-right:0;
        }

        h3{
            font-size:2rem;
            text-align:center;
            margin-top:10px;
        }

        p{
            text-align:center;
            padding:5px;
            margin-top:5%;
            line-height:2.3rem;

        }
    }

}

