// @import "normalize";
// @import "mixin";
// @import "variables";
// @import "navFooter";
// @import "blog";


body{
    font-size:62.5%;
    background-color:$ice;
}

.wrapper {
    // border:1px solid green;
	@include wrapperDesktop;
    @include mqTablet;

}

header{
    background:url(../../images/header-home.jpg)no-repeat;
    background-size:cover;
    height: 100vh;
    margin:0;
    position:relative;
    background-position: center;

    .wrapper{
       @include wrapperDesktop;
  
        h1 {
            @include hOne;
            width:50%;
            padding-top:10%;
        }
    }
}

.headerCouch{
    // border:1px solid brown;
    width:50%;
    position: absolute;
    bottom:-10%;

    img{
        width:100%;
    }
}

h2{
    @include fillHeading;
    font-size:2rem;
    letter-spacing:2.1px;
}

p{
    font-family: $print;
    font-size:1.6rem;
}

.greenButton{
    display:inline-block;
    @include fillHeading;
    background: $green;
    line-height:32px;
    padding:20px 30px;
}
    a{
        color:#f5f5f5;
        font-size:1.8rem;
        letter-spacing:2px;
        text-decoration: none;
    }

.discover{
    background:$white;
    @include sectionPadding;

    .discoverContainer{
        display:flex;
        flex-direction: row;
        justify-content:space-between;
    
        .discoverTextContain{
            // border:2px solid darkblue;
            width:calc(65% - 2%);
            margin-right:2%;
        }

        .discoverImg{
            // border:2px solid yellow;
            width:30%;

            img{
                @include boxLeft;
            }
        }
    }

}

.picGallery{
    @include sectionPadding;
    background:$ice;
    
    ul{
        display:flex;
        margin:0;
        padding:0;
        
        li{
            list-style: none;
        }
        li:nth-child(2){
               margin:0px 20px 0px 20px;
           }
    }
}

.communityGallery{
    background:$white;
    @include sectionPadding;

    .galleryFlex{
        display:flex;
        flex-wrap:wrap;

        .communityTextContain{
            width:50%;
            padding:20px;


            .iconHeadingContain{
                display:flex;
            }
        }
    }

    .communityTextContain {
        
        i {
        color:$black;
        background:$yellow;
        border-radius:50%;
        font-size:1.8rem;
        padding:15px;
        margin-right:20px;
        }

        h3{
            @include fillHeading;
            font-size:2rem;
            margin:0;
        }

        p{
            @include paragraphText;
            padding-left:70px;
            margin-top:20px;

        }
    }
}

.readMoreGallery{
    background:$ice;
    // padding:0px 50px 50px 0px;
    
    .readMoreContain{
        display:flex;
        flex-wrap:wrap;

        .readMoreText {
            width:50%;
            padding:5%;
        }

        .rightText{
            text-align:right;
        }
        
        .readMoreImg{
            width:50%;
        }


        .leftImg{
            position:relative;

            img{
                position:absolute;
                top:-10%;
                @include boxRight;
            }
        }
        
        .rightImg{
            position:relative;
            flex-wrap:wrap;

            img{
                position: absolute;
                bottom:-10%;
                @include boxLeft;
            }
        }
    }
}

.sofaBackground{
    background:url(../../images/banner-image.jpg) no-repeat bottom fixed;
    background-size:contain;
    height:60vh;
}

.searchBy{
    background:$white;
    text-align:center;
    @include sectionPadding;

}
