@mixin mqTablet{
    @media (max-width:768px){
        @content;
    }
}

@mixin wrapperDesktop{
    max-width:1280px;
	width:80%;
    margin:0 auto;
}


@mixin hOne{
    font-family: $outline;
    text-transform: uppercase;
    font-size:4rem;
    letter-spacing:.2rem;
    line-height: 64.5px;

}

@mixin paragraphText{
    font-size:1.8rem;
    letter-spacing:2px;
    line-height:32px;
}

@mixin boxLeft{
   box-shadow: -20px 20px $yellow; 
}

@mixin boxRight{
    box-shadow: 20px 20px $yellow;
}

@mixin fillHeading {
    font-family: $fill;
    text-transform: uppercase;
    letter-spacing: 2.1px;
}

@mixin sectionPadding{
    padding:100px 0px 100px 0px;
}

