@mixin mqTablet{
    @media (max-width:768px){
        @content;
    }
}

@mixin paragraphText{
    font-size:1.8rem;
    letter-spacing:2px;
    line-height:32px;
}

@mixin boxLeft{
   box-shadow: -10px 10px $yellow; 
}

@mixin boxRight{
    box-shadow: 10px 10px $yellow;
}

@mixin fillHeading {
    font-family: $fill;
    text-transform: uppercase;
    letter-spacing: 2.1px;
}

@mixin sectionPadding{
    padding:100px 0px 100px 0px;
}