article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  overflow: hidden;
}

body {
  font-size: 62.5%;
  background-color: #e0fddf;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

header {
  background: url(../../images/header-home.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  position: relative;
  background-position: center;
}

header h1 {
  font-family: "Kumar One Outline", cursive;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: .2rem;
  line-height: 64.5px;
  width: 50%;
  padding-top: 10%;
}

.headerCouch {
  width: 50%;
  position: absolute;
  bottom: -10%;
}

.headerCouch img {
  width: 100%;
}

h2 {
  font-family: "Kumar One", cursive;
  text-transform: uppercase;
  letter-spacing: 2.1px;
  font-size: 2rem;
  letter-spacing: 2.1px;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}

.greenButton {
  color: #f5f5f5;
  display: inline-block;
  font-family: "Kumar One", cursive;
  text-transform: uppercase;
  letter-spacing: 2.1px;
  background: #065635;
  font-size: 1.6rem;
  line-height: 32px;
  letter-spacing: 2px;
  padding: 20px 30px;
  border: 2px solid transparent;
  text-decoration: none;
  border-radius: 2%;
}

.greenButton:hover {
  color: #065635;
  background: #f5f5f5;
  border: 2px solid #065635;
  -webkit-transition: .3s;
  transition: .3s;
}

.greenButton:active {
  background: #e0fddf;
}

.discover {
  background: #f5f5f5;
  padding: 100px 0px 100px 0px;
}

.discover .discoverContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.discover .discoverContainer .discoverTextContain {
  width: calc(65% - 2%);
  margin-right: 2%;
}

.discover .discoverContainer .discoverImg {
  width: 30%;
}

.discover .discoverContainer .discoverImg img {
  -webkit-box-shadow: -20px 20px #f8fb05;
          box-shadow: -20px 20px #f8fb05;
}

.picGallery {
  padding: 100px 0px 100px 0px;
  background: #e0fddf;
}

.picGallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.picGallery ul li {
  list-style: none;
}

.picGallery ul li:nth-child(2) {
  margin: 0px 20px 0px 20px;
}

.picGallery ul li.hideImg {
  display: none;
}

.communityGallery {
  background: #f5f5f5;
  padding: 100px 0px 100px 0px;
}

.communityGallery .galleryFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.communityGallery .galleryFlex .communityTextContain {
  width: 50%;
  padding: 20px;
}

.communityGallery .galleryFlex .communityTextContain .iconHeadingContain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.communityGallery .communityTextContain i {
  color: #151514;
  background: #f8fb05;
  border-radius: 50%;
  font-size: 1.6rem;
  padding: 15px;
  margin-right: 20px;
  border: 2px solid #f8fb05;
}

.communityGallery .communityTextContain h3 {
  font-family: "Kumar One", cursive;
  text-transform: uppercase;
  letter-spacing: 2.1px;
  font-size: 2rem;
  margin: 0;
}

.communityGallery .communityTextContain p {
  font-size: 1.8rem;
  letter-spacing: 2px;
  line-height: 32px;
  padding-left: 70px;
  margin-top: 20px;
}

.communityTextContain:hover i {
  border: 2px solid #065635;
  -webkit-transition: .3s;
  transition: .3s;
}

.communityTextContain:active i {
  background: #f5f5f5;
}

.readMoreGallery {
  background: #e0fddf;
}

.readMoreGallery .readMoreContain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.readMoreGallery .readMoreContain .readMoreText {
  width: 50%;
  padding: 5%;
}

.readMoreGallery .readMoreContain .rightText {
  text-align: right;
}

.readMoreGallery .readMoreContain .readMoreImg {
  width: 50%;
}

.readMoreGallery .readMoreContain .leftImg {
  position: relative;
}

.readMoreGallery .readMoreContain .leftImg img {
  position: absolute;
  top: -10%;
  -webkit-box-shadow: 20px 20px #f8fb05;
          box-shadow: 20px 20px #f8fb05;
}

.readMoreGallery .readMoreContain .rightImg {
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.readMoreGallery .readMoreContain .rightImg img {
  position: absolute;
  bottom: -10%;
  -webkit-box-shadow: -20px 20px #f8fb05;
          box-shadow: -20px 20px #f8fb05;
}

.sofaBackground {
  background: url(../../images/banner-image.jpg) no-repeat bottom fixed;
  background-size: contain;
  height: 40vh;
}

.sofaBackground .bottomBackImg {
  display: none;
}

.searchBy {
  background: #f5f5f5;
  text-align: center;
  padding: 100px 0px 100px 0px;
}

/* --------------- Portrait tablet and small desktops --------------- */
@media (max-width: 940px) {
  html {
    font-size: 90%;
  }
  .wrapper {
    max-width: 850px;
    width: 90%;
  }
  .communityTextContain {
    padding: 5px;
  }
}

/* ------------- Landscape phone to portrait table ------------- */
@media (max-width: 770px) {
  .wrapper {
    max-width: 700px;
    width: 90%;
  }
  html {
    font-size: 80%;
  }
  header {
    height: 60vh;
  }
  header h1 {
    font-size: 2rem;
  }
  .discover .discoverContainer {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .discover .discoverContainer .discoverTextContain {
    width: 100%;
    text-align: center;
    margin-right: 0;
  }
  .discover .discoverContainer .discoverImg {
    display: none;
  }
  .discover .discoverContainer .discoverImg img {
    -webkit-box-shadow: -20px 20px #f8fb05;
            box-shadow: -20px 20px #f8fb05;
  }
  .picGallery ul {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .picGallery ul li {
    margin: 0;
  }
  .picGallery li.hideImg {
    display: block;
  }
  .communityGallery .galleryFlex .communityTextContain {
    width: 80%;
    padding: 5%;
    text-align: left;
    margin: 15px;
    border-bottom: 1px solid green;
  }
  .communityGallery .galleryFlex .communityTextContain .iconHeadingContain {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 0 auto;
    padding: 0;
  }
  h3 {
    font-size: 1.8rem;
  }
  .readMoreGallery .readMoreContain .readMoreText {
    width: 100%;
    padding: 10%;
    text-align: center;
  }
  .readMoreGallery .readMoreContain .readMoreImg {
    display: none;
  }
  .greenButton {
    padding: 10px 25px;
  }
  .searchBy {
    padding: 50px;
  }
  .sofaBackground {
    background: none;
    height: 100%;
  }
  .sofaBackground .bottomBackImg {
    display: block;
  }
}

/* ---------------- Landscape phones and down ---------------- */
@media (max-width: 480px) {
  .wrapper {
    max-width: 380px;
    width: 80%;
  }
  body {
    font-size: 40%;
  }
  .headerCouch {
    width: 70%;
  }
  .greenButton {
    font-size: 1.4rem;
    line-height: 1.5rem;
    letter-spacing: 2px;
    padding: 14px 20px;
    border-radius: 5px;
  }
}

/* ---------------- iPhone 5/SE & Other small phones ---------------- */
@media (max-width: 320px) {
  html {
    font-size: 50%;
  }
  .wrapper {
    max-width: 290px;
    width: 70%;
  }
  header h1 {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 40px;
  }
  p {
    font-size: 16px;
  }
  .communityGallery .galleryFlex .communityTextContain .iconHeadingContain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .communityGallery .galleryFlex .communityTextContain .iconHeadingContain a {
    margin: 0 auto;
  }
  .communityGallery .communityTextContain i {
    margin-right: 0;
  }
  .communityGallery .communityTextContain h3 {
    font-size: 2rem;
    text-align: center;
    margin-top: 10px;
  }
  .communityGallery .communityTextContain p {
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    line-height: 2.3rem;
  }
}

.postForm {
  margin-left: 100px;
  font-size: 1.6rem;
}

.formContain {
  position: relative;
  width: 100%;
}

.formContain .white {
  margin: 0;
  width: 100%;
  background: white;
  position: absolute;
  top: -20%;
  padding: 5%;
  -webkit-box-shadow: 20px 20px #f8fb05;
          box-shadow: 20px 20px #f8fb05;
}

.nameEmailContain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nameEmailContain .name {
  width: calc(40% - 10px);
  margin-right: 10px;
  border-bottom: 2px solid #065635;
}

.nameEmailContain .email {
  width: 60%;
  border-bottom: 2px solid #065635;
}

.nameEmailContain .name::-webkit-input-placeholder, .nameEmailContain .email::-webkit-input-placeholder {
  color: #151514;
  opacity: 1;
  text-transform: uppercase;
}

.nameEmailContain .name:-ms-input-placeholder, .nameEmailContain .email:-ms-input-placeholder {
  color: #151514;
  opacity: 1;
  text-transform: uppercase;
}

.nameEmailContain .name::-ms-input-placeholder, .nameEmailContain .email::-ms-input-placeholder {
  color: #151514;
  opacity: 1;
  text-transform: uppercase;
}

.nameEmailContain .name::placeholder, .nameEmailContain .email::placeholder {
  color: #151514;
  opacity: 1;
  text-transform: uppercase;
}

input {
  border: none;
  background: none;
  font-family: "Lato", sans-serif;
  padding: 10px 30px 10px 10px;
}

.textSubmitContain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.textSubmitContain .textBox {
  margin: 40px 0px 20px 0px;
  width: 100%;
  height: 300px;
  border: 2px solid #065635;
}

.textSubmitContain textarea {
  padding: 20px;
}

.textSubmitContain textarea.green {
  background: #e0fddf;
}

.textSubmitContain textarea::-webkit-input-placeholder {
  text-transform: uppercase;
  letter-spacing: .05rem;
  color: #151514;
  opacity: 1;
}

.textSubmitContain textarea:-ms-input-placeholder {
  text-transform: uppercase;
  letter-spacing: .05rem;
  color: #151514;
  opacity: 1;
}

.textSubmitContain textarea::-ms-input-placeholder {
  text-transform: uppercase;
  letter-spacing: .05rem;
  color: #151514;
  opacity: 1;
}

.textSubmitContain textarea::placeholder {
  text-transform: uppercase;
  letter-spacing: .05rem;
  color: #151514;
  opacity: 1;
}

.submit {
  width: 100%;
  background: #065635;
  color: white;
  font-family: "Kumar One", cursive;
  letter-spacing: .2rem;
  border: 2px solid transparent;
  text-transform: uppercase;
}

.submit:hover {
  border: 2px solid #065635;
  color: #065635;
  background: #f5f5f5;
  -webkit-transition: .3s;
  transition: .3s;
}

.submit:active {
  background: #e0fddf;
}

body {
  font-size: 62.5%;
}

.blogPage {
  background: url(../../images/blog-image.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  margin: 0 auto;
}

.blogPage .wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

.blogPage .wrapper h1 {
  font-family: "Kumar One Outline", cursive;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: .2rem;
  line-height: 64.5px;
}

.mainFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogForm {
  width: 65%;
  position: relative;
  top: -50px;
}

.articleContain {
  width: 100%;
  background: white;
  margin-bottom: 100px;
  -webkit-box-shadow: inset -10px -10px #f8fb05;
          box-shadow: inset -10px -10px #f8fb05;
}

.blogImgContain {
  width: 100%;
}

.blogImgContain img {
  -webkit-box-shadow: 20px 20px #f8fb05;
          box-shadow: 20px 20px #f8fb05;
}

article {
  color: #151514;
  position: relative;
}

article .blogPostTextContain {
  padding: 20px 50px 20px 100px;
}

article .blogPostTextContain h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  line-height: 2rem;
  font-style: italic;
  letter-spacing: 1.2px;
}

article .blogPostTextContain p {
  font-size: 1.8rem;
  line-height: 3rem;
}

.recentPostsContain li {
  font-size: 1.8rem;
  font-family: "Lato", sans-serif;
}

.recentPostsContain li a {
  color: black;
}

.commentsFormContain .comments {
  padding-left: 100px;
}

.commentsFormContain h3 {
  font-family: "Kumar One", cursive;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 2rem;
  letter-spacing: 2px;
}

.commentsFormContain .date {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.8rem;
  margin: 0;
}

.postContain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.postContain .commentImg {
  width: 15%;
  display: block;
}

.postContain .commentText {
  width: 70%;
  margin-left: 5%;
}

.postContain .commentText p {
  line-height: 2.5rem;
}

.formContainer {
  margin: 50px 0px 100px 0px;
}

aside {
  background: #f8fb05;
  width: 30%;
  height: 100%;
  margin-left: 20%;
  margin-top: 20%;
  -webkit-box-shadow: -20px 20px #f8fb05;
          box-shadow: -20px 20px #f8fb05;
}

aside .asideText {
  padding: 2%;
}

aside .asideText h3 {
  font-family: "Kumar One", cursive;
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

aside .asideText p {
  font-size: 1.8rem;
  letter-spacing: 2px;
  line-height: 32px;
  line-height: 2.5rem;
}

aside .asideText a {
  text-decoration: none;
  font-size: 1.6rem;
}

/* --------------- Portrait tablet and small desktops --------------- */
@media (max-width: 940px) {
  .blogPage {
    height: 60vh;
  }
  html {
    font-size: 70%;
  }
}

/* ------------- Landscape phone to portrait table ------------- */
@media (max-width: 768px) {
  article .blogPostTextContain {
    padding: 30px;
  }
  article .blogPostTextContain p {
    font-size: 1.6rem;
    line-height: 3rem;
  }
  .blogForm {
    width: 75%;
  }
  .commentsFormContain .comments {
    width: 150%;
    padding: 30px;
  }
  aside {
    margin-left: 10%;
  }
  aside .asideText p {
    letter-spacing: .2rem;
  }
}

/* ---------------- 


Landscape phones and down ---------------- */
@media (max-width: 667px) {
  .mainFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainFlex aside {
    background: #f8fb05;
    width: 100%;
    margin: 0 auto;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0;
  }
  .mainFlex aside .asideImgContain {
    width: 50%;
    margin: 0 auto;
    padding: 30px;
    border: 2px solid #065635;
    position: relative;
    top: -10%;
  }
  .mainFlex aside .asideText {
    background: #e0fddf;
    margin: 3%;
    padding: 30px;
    text-align: center;
    border: 1px solid #065635;
  }
  .mainFlex aside img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .articleContain {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .blogImgContain {
    width: 100%;
    margin-top: 30%;
  }
  .blogImgContain img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .commentsFormContain .comments {
    width: 100%;
    padding: 0;
  }
  .postContain .commentText {
    width: 100%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 50%;
  }
}

/* ---------------- iPhone 5/SE & Other small phones ---------------- */
.touch {
  width: 100%;
  padding-top: 20%;
}

.contactHeader {
  background: url(../../images/contact-image.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  margin: 0 auto;
}

.contactMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socialContain {
  margin-top: 10%;
  margin-left: 10%;
  width: 25%;
}

.socialNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
}

.socialNav ul li {
  list-style: none;
  margin: 5px;
}

.socialNav ul li a {
  color: #151514;
  font-size: 2rem;
  padding: 10px;
}

.contactText {
  font-size: 1.8;
}

.contactText p {
  margin: 3%;
}

@media (max-width: 940px) {
  .contactHeader h1 {
    font-size: 4.5rem;
  }
  .contactMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contactText p {
    font-size: 3rem;
  }
  .socialContain {
    padding: 50px;
    margin: 0 auto;
    text-align: center;
    width: 50%;
  }
  .socialContain:focus, .socialContain:hover {
    background: #f5f5f5;
  }
  .socialNav ul li {
    margin: 2%;
  }
  .socialNav ul li a {
    color: #151514;
    font-size: 4rem;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .socialContain {
    padding: 10px;
    width: 80%;
  }
}

/* ---------------- Landscape phones and down ---------------- */
@media (max-width: 480px) {
  .socialContain {
    padding: 30px;
    width: 90%;
  }
}

/* ---------------- iPhone 5/SE & Other small phones ---------------- */
@media (max-width: 320px) {
  html {
    font-size: 45%;
  }
  .socialContain {
    padding: 10px;
  }
}

.headerNavContainer {
  width: 100%;
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transition: top .3s;
  transition: top .3s;
}

.headerNavContainer nav {
  background-color: #dfe2fd;
  padding: 5px;
}

.headerNavContainer p {
  width: 20%;
  font-family: "Kumar One", cursive;
  position: absolute;
  top: 0;
  left: 1%;
  z-index: 30;
  margin: 10px;
  display: none;
}

.headerNavContainer nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.headerNavContainer nav ul {
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  padding: 0;
}

.headerNavContainer nav li {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px;
}

.headerNavContainer nav li:hover a {
  border-bottom: 3px solid #f8fb05;
}

.headerNavContainer nav li:active a {
  border-bottom: 3px solid #065635;
}

.headerNavContainer nav a {
  padding: 10px 5px;
  font-size: 1.6rem;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #151514;
  border-bottom: 2px solid transparent;
}

footer {
  background: #151514;
  color: #f5f5f5;
  padding: 3px;
}

footer p {
  text-align: center;
  letter-spacing: 1.2px;
}

@media (max-width: 768px) {
  .headerNavContainer p {
    display: block;
    margin-left: 10px;
  }
  .headerNavContainer nav {
    width: 50%;
    display: block;
    padding-top: 20%;
  }
  .headerNavContainer nav ul {
    width: 90%;
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .headerNavContainer nav ul li {
    margin: 10px;
    padding: 10px;
    border-bottom: 3px solid #f8fb05;
    width: 100%;
  }
  .headerNavContainer nav ul li:hover a {
    background: #f8fb05;
    padding: 10px 40px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .headerNavContainer nav ul a {
    padding: 10px;
  }
  .headerNavContainer nav li {
    margin-left: 0;
  }
  .headerNavContainer nav li:hover a {
    border-bottom: 3px solid #f8fb05;
  }
  .headerNavContainer nav li:active a {
    border-bottom: 3px solid #065635;
  }
}
