article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  overflow: hidden;
}

body {
  font-size: 62.5%;
  background-color: #e0fddf;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

header {
  background: url(../../images/header-home.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  position: relative;
  background-position: center;
}

header .wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

header .wrapper h1 {
  font-family: "Kumar One Outline", cursive;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: .2rem;
  line-height: 64.5px;
  width: 50%;
  padding-top: 10%;
}

.headerCouch {
  width: 50%;
  position: absolute;
  bottom: -10%;
}

.headerCouch img {
  width: 100%;
}

h2 {
  font-family: "Kumar One", cursive;
  text-transform: uppercase;
  letter-spacing: 2.1px;
  font-size: 2rem;
  letter-spacing: 2.1px;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}

.greenButton {
  display: inline-block;
  font-family: "Kumar One", cursive;
  text-transform: uppercase;
  letter-spacing: 2.1px;
  background: #065635;
  line-height: 32px;
  padding: 20px 30px;
}

a {
  color: #f5f5f5;
  font-size: 1.8rem;
  letter-spacing: 2px;
  text-decoration: none;
}

.discover {
  background: #f5f5f5;
  padding: 100px 0px 100px 0px;
}

.discover .discoverContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.discover .discoverContainer .discoverTextContain {
  width: calc(65% - 2%);
  margin-right: 2%;
}

.discover .discoverContainer .discoverImg {
  width: 30%;
}

.discover .discoverContainer .discoverImg img {
  -webkit-box-shadow: -10px 10px #f8fb05;
          box-shadow: -10px 10px #f8fb05;
}

.picGallery {
  padding: 100px 0px 100px 0px;
  background: #e0fddf;
}

.picGallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.picGallery ul li {
  list-style: none;
}

.picGallery ul li:nth-child(2) {
  margin: 0px 20px 0px 20px;
}

.communityGallery {
  background: #f5f5f5;
  padding: 100px 0px 100px 0px;
}

.communityGallery .galleryFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.communityGallery .galleryFlex .communityTextContain {
  width: 50%;
  padding: 20px;
}

.communityGallery .galleryFlex .communityTextContain .iconHeadingContain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.communityGallery .communityTextContain i {
  color: #151514;
  background: #f8fb05;
  border-radius: 50%;
  font-size: 1.8rem;
  padding: 15px;
  margin-right: 20px;
}

.communityGallery .communityTextContain h3 {
  font-family: "Kumar One", cursive;
  text-transform: uppercase;
  letter-spacing: 2.1px;
  font-size: 2rem;
  margin: 0;
}

.communityGallery .communityTextContain p {
  font-size: 1.8rem;
  letter-spacing: 2px;
  line-height: 32px;
  padding-left: 70px;
  margin-top: 20px;
}

.readMoreGallery {
  background: #e0fddf;
}

.readMoreGallery .readMoreContain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.readMoreGallery .readMoreContain .readMoreText {
  width: 50%;
  padding: 5%;
}

.readMoreGallery .readMoreContain .rightText {
  text-align: right;
}

.readMoreGallery .readMoreContain .readMoreImg {
  width: 50%;
}

.readMoreGallery .readMoreContain .leftImg {
  position: relative;
}

.readMoreGallery .readMoreContain .leftImg img {
  position: absolute;
  top: -10%;
  -webkit-box-shadow: 10px 10px #f8fb05;
          box-shadow: 10px 10px #f8fb05;
}

.readMoreGallery .readMoreContain .rightImg {
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.readMoreGallery .readMoreContain .rightImg img {
  position: absolute;
  bottom: -10%;
  -webkit-box-shadow: -10px 10px #f8fb05;
          box-shadow: -10px 10px #f8fb05;
}

.sofaBackground {
  background: url(../../images/banner-image.jpg) no-repeat bottom fixed;
  background-size: contain;
  height: 60vh;
}

.searchBy {
  background: #f5f5f5;
  text-align: center;
  padding: 100px 0px 100px 0px;
}

.postForm {
  padding: 2%;
  width: 50%;
  margin-left: 5%;
  margin-bottom: 50px;
  font-size: 1.8rem;
}

main {
  position: relative;
}

main .white {
  width: 70%;
  background: white;
  position: absolute;
  top: -30%;
  -webkit-box-shadow: 10px 10px #f8fb05;
          box-shadow: 10px 10px #f8fb05;
}

.nameEmailContain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nameEmailContain .name {
  width: calc(50% - 10px);
  margin-right: 10px;
  border-bottom: 3px solid #065635;
}

.nameEmailContain .email {
  width: 50%;
  border-bottom: 3px solid #065635;
}

input {
  padding: 10px 30px;
  border: none;
  background: none;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.textSubmitContain {
  display: float;
}

.textSubmitContain .textBox {
  margin: 40px 0px 20px 0px;
  width: 100%;
  height: 300px;
  border: 3px solid #065635;
}

.textSubmitContain .textBox::-webkit-input-placeholder {
  color: black;
}

.textSubmitContain .textBox:-ms-input-placeholder {
  color: black;
}

.textSubmitContain .textBox::-ms-input-placeholder {
  color: black;
}

.textSubmitContain .textBox::placeholder {
  color: black;
}

.textSubmitContain label {
  opacity: 0;
}

.submit {
  width: 100%;
  background: #065635;
  color: white;
  font-family: "Kumar One", cursive;
  letter-spacing: .2rem;
}

.postForm {
  padding: 2%;
  width: 50%;
  margin-left: 5%;
  margin-bottom: 50px;
  font-size: 1.8rem;
}

main {
  position: relative;
}

main .white {
  width: 70%;
  background: white;
  position: absolute;
  top: -30%;
  -webkit-box-shadow: 10px 10px #f8fb05;
          box-shadow: 10px 10px #f8fb05;
}

.nameEmailContain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nameEmailContain .name {
  width: calc(50% - 10px);
  margin-right: 10px;
  border-bottom: 3px solid #065635;
}

.nameEmailContain .email {
  width: 50%;
  border-bottom: 3px solid #065635;
}

input {
  padding: 10px 30px;
  border: none;
  background: none;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.textSubmitContain {
  display: float;
}

.textSubmitContain .textBox {
  margin: 40px 0px 20px 0px;
  width: 100%;
  height: 300px;
  border: 3px solid #065635;
}

.textSubmitContain .textBox::-webkit-input-placeholder {
  color: black;
}

.textSubmitContain .textBox:-ms-input-placeholder {
  color: black;
}

.textSubmitContain .textBox::-ms-input-placeholder {
  color: black;
}

.textSubmitContain .textBox::placeholder {
  color: black;
}

.textSubmitContain label {
  opacity: 0;
}

.submit {
  width: 100%;
  background: #065635;
  color: white;
  font-family: "Kumar One", cursive;
  letter-spacing: .2rem;
}

body {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

.blogPage {
  background: url(../../images/blog-image.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0 auto;
}

.blogPage .wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

.blogPage .wrapper h1 {
  font-family: "Kumar One Outline", cursive;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: .2rem;
  line-height: 64.5px;
}

.mainFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogImgContain {
  width: 100%;
}

.blogImgContain img {
  -webkit-box-shadow: 10px 10px #f8fb05;
          box-shadow: 10px 10px #f8fb05;
}

article {
  width: 60%;
  background: white;
  color: #151514;
  -webkit-box-shadow: 10px 10px #f8fb05;
          box-shadow: 10px 10px #f8fb05;
  position: relative;
}

article .blogTextContain {
  padding: 20px 50px 20px 100px;
}

article .blogTextContain h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  line-height: 1.2rem;
  font-style: italic;
  letter-spacing: 1.2px;
}

article .blogTextContain p {
  font-size: 1.8rem;
  line-height: 3rem;
}

aside {
  background: #f8fb05;
  width: 30%;
  height: 100%;
  margin-left: 20%;
  margin-top: 20%;
  -webkit-box-shadow: -10px 10px #f8fb05;
          box-shadow: -10px 10px #f8fb05;
}

aside .asideText {
  padding: 3%;
}

aside .asideText h3 {
  font-family: "Kumar One", cursive;
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

aside .asideText p {
  font-size: 1.8rem;
  letter-spacing: 2px;
  line-height: 32px;
  line-height: 2.5rem;
}

.recentPostsContain li {
  font-size: 1.8rem;
  font-family: "Lato", sans-serif;
}

.recentPostsContain li a {
  color: black;
}

.commentsContain {
  width: 60%;
}

.commentsContain .comments {
  padding-left: 100px;
}

.commentsContain h3 {
  font-family: "Kumar One", cursive;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 2rem;
  letter-spacing: 2px;
}

.commentsContain .date {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.8rem;
  margin: 0;
}

.postContain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.postContain .commentImg {
  width: 15%;
  display: block;
}

.postContain .commentText {
  width: 70%;
  margin-left: 5%;
}

.postContain .commentText p {
  line-height: 2.5rem;
}

.contactHeader {
  background: url(../../images/contact-image.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0 auto;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socailNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerNavContainer {
  width: 100%;
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transition: top .3s;
  transition: top .3s;
}

.headerNavContainer nav {
  background-color: pink;
  padding: 5px;
}

.headerNavContainer p {
  font-family: "Kumar One", cursive;
  position: absolute;
  top: 0;
  left: 1%;
  z-index: 30;
  padding: 1%;
}

.headerNavContainer nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.headerNavContainer nav ul {
  border: 1px solid purple;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  padding: 0;
}

.headerNavContainer nav li {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px;
}

.headerNavContainer nav li:hover a {
  border-bottom: 2px solid black;
}

.headerNavContainer nav a {
  font-size: 1.8rem;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #151514;
  font-weight: 700;
  border-bottom: 2px solid transparent;
}

footer {
  background: #151514;
  color: #f5f5f5;
  padding: 3px;
}

footer p {
  text-align: center;
  letter-spacing: 1.2px;
}
